<!doctype html>
<script src="../script/chat.js"/>
<link rel="stylesheet" href="../css/main.css">
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Testing</title>
  <base href="">
</head>

<body onload="init()">

  <form id="form">

    <div id='responsArea' class="response">
    </div>

      <div>
        <div>
          <p>Enter UserName here. </p>
          <input id="username"> </input>
        </div>
      </div>
      <div class="div1">
        <textarea onchange="setButtonDisabled();" id="input" class="input-body" placeholder="test" type="text" onChange = ""> </textarea>
        <div id="button_container">
          <button disabled="isDisabled" id="fire">FIRE!</button>
        </div>
      </div>
    

  </form>

</body>


</html>