<!doctype html>
<script type="module" src="../script/chat.js"> </script>
<link rel="stylesheet" href="../css/main.css">
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script src="/webjars/jquery/jquery.min.js"></script>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Testing</title>
  <base href="">
</head>

<body id="chatBody" >

  <form id="form">
    <div id='responsArea' class="response">
    </div>

      <div>
        <div>
          <p>Enter UserName here. </p>
          <input id="username"> </input>
        </div>
      </div>
      <div class="div1">
        <textarea id="input" class="input-body" placeholder="test" type="text"></textarea>
        <div id="button_container">
          <button disabled="isDisabled" id="fire">FIRE!</button>
        </div>
      </div>
    

  </form>

</body>


</html>