<!doctype html>
<link rel="stylesheet" href="../../css/account.css">
<script  type="module" src="../../script/account.js"></script>
<script src="/webjars/jquery/jquery.min.js"></script>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Account</title>
    <base href="/createAccount">
</head>

<body>

    <form id="accountFrom" onsubmit="createAccount(event)" class="container">
        <h3>Account Creation</h3>
        <label>User Name</label>
        <div>
            <input id="Username" type="text" placeholder="Enter Username">
        </div>
        <label>Password</label>
        <div>
            <input id="password" type="password" placeholder="Enter Username">
        </div>
        <label>Email</label>
        <div>
            <input id="email" type="text" placeholder="Enter Email">
        </div>
        <label>hint</label>
        <div> 
            <input id="hint" type = "text" placeholder = "Enter password hint">
        </div>
        
        <button id = "submit">Submit</button>

    </form>
</body>


</html>